.promo {
  margin: 0 90px 70px;
  display: flex;
  flex-direction: column;
}

.promo__title {
  color: #2F2F37;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 56px 0 20px;
}

.promo__cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.promo__label {
  color: #2F2F37;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .promo {
    /* margin: 0 90px 56px; */
    margin: 0 20px 20px;
  }
}

@media screen and (max-width: 768px) {
  .promo__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 820px) {
  .promo__cards-list {
    justify-content: center;
  }
}