.main {
  margin: 67px 90px 40px;
}

.main__title {
  width: 640px;
  font-family: Manrope;
  color: #2F2F37 ;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 80px;
}

.main__title-span {
  color: #F7F7F8;
  background: #2F2F37;
  border-radius: 16px 16px 0 16px;
  font-size: 39px;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 60px 20px 40px;
  }
}

@media screen and (max-width: 768px) {
  .main__title {
    width: 367px;
    font-size: 36px;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .main__title-span { 
    background: none;
    color: #2F2F37;
    font-size: 36px;
  }
}