.main {
  margin: 67px 90px 40px;
  display: flex;
  flex-direction: column;
}

.main__title {
  width: 640px;
  font-family: Manrope;
  color: #2F2F37 ;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 80px;
}

.main__title-span {
  color: #F7F7F8;
  background: #2F2F37;
  border-radius: 12px 12px 0 12px;
  line-height: 140%;
  font-size: 45px;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 60px 20px 40px;
  }
}

@media screen and (max-width: 768px) {
  .main__title {
    width: 353px;
    font-size: 36px;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .main__title-span { 
    /* background: none; */
    /* color: #2F2F37; */
    font-size: 36px;
  }
}