.card-promo-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 58px;
}

  .card-promo {
  display: flex;
  flex-direction: column;
  width: 236px;
  height: 400px;
  box-sizing: border-box;
  border-radius: 16px 16px 16px 0px;
  background-color: #2F2F37;
  padding: 20px 16px 24px;
  justify-content: space-between;
  position: relative;
}

.card-promo__title {
  color: #F7F7F8;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  width: 100%;
}

.card-promo__price {
  display: flex;
  gap: 4px;
  align-items: baseline;
  justify-content: end;
  z-index: 1;
}

.card-promo__price-previous {
  color: #7B709D;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;
}

.card-promo__price-actual {
  color: #8259F7;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2px;
}

.card-promo__image {
  position: absolute;
  right: -1px;
  bottom: -1px;
  z-index: 0;
  border-bottom-right-radius: 16px;
}

.card-promo__option {
  border: 1px solid #8259F7;
  border-radius: 60px;
  /* background-image: url(../../images/Vector37.svg);
  background-position: center;
  background-repeat: no-repeat; */
  width: 24px;
  height: 24px;
  /* opacity: 0; */
}

.card-promo__option_active {
  /* opacity: 1; */
  width: 78px;
  background-color: #8259F7;
  background-image: url(../../images/Vector37.svg);
  background-position: center;
  background-repeat: no-repeat;
}